{% extends 'base.html' %}
{% block content %}
<main id="gamedata" class="container-fluid">
    {% with game_details=game_details %}
      {% include "sections/overview.html" %}
    {% endwith %}
    {% with game_files=game_files %}
      {% include "sections/chart.html" %}
    {% endwith %}
    <div class="row mb-5">
        <div class="col-md col-lg-5">
        <?php echo renderPipelineSection($game_details, $game_files->getLastDate(), $buttons); ?>
        </div>
        <div class="col-md col-lg-7 ps-lg-5 ps-xl-0">
            <?php echo renderPipelineTargetSection($game_files, $buttons); ?>
            <hr>                
            <?php echo renderTemplatesSection($game_files); ?>
        </div> <!-- end column -->
    </div> <!-- end row --> 
    <?php if ( isset($game_details) && count($game_details->getPublications()) > 0 ) : ?>
        <hr>
        <div class="row mb-5 mt-3">
            <div class="col-md">
                <?php renderPublicationsSection($game_details); ?>
            </div>
        </div>
    <?php endif; ?>
</main>
<script type="module" src="assets/scripts/services.js"></script>
<script type="module" src="assets/scripts/game_usage.js"></script>
{% endblock content %}