<header class="shadow">
    <nav class="navbar navbar-default" aria-label="Main navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img class="logo" src="assets/extern/images/wordmarks/ogd/blue-128.png" width="732" alt="Open Game Data"></a>
        </div>
        <ul class="navbar-nav flex-fill flex-row justify-content-end align-items-center">
            <li class="nav-item"><a href="https://opengamedata-doc.readthedocs.io/en/latest" class="btn btn-header mx-3">Technical Documentation</a></li>
            <li class="nav-item"><a href="{{url_for(about/about.html)}}" class="btn btn-header mx-3">About Us</a></li>
            <li class="nav-item"><a href="{{url_for(getinvolved/getinvolved.html)}}" class="btn btn-header-dark">Get Involved</a></li>
        </ul>                
    </nav>
</header>