
function renderPipelineTargetSection(?GameFileInfo $game_files, array $buttons)
{
    $have_no_files = true;
    $month_name     = null;
    $month_element  = '<p class="pipeline-target-month"></p>';
    $nodata_element = <<<HTML
        <p id="pipeline-target-no-data-for-month">
            There is currently no data, and no selected date.
        </p>
        HTML;
    $block_class = 'd-none';

    if (isset($game_files)) {
        // Determine stuff about the month that should be selected.
        $selected_date = $game_files->getLastDate();
        if ($selected_date) {
            $month_name     = htmlspecialchars( $selected_date->format('n') );
            $month_element  = '<p class="pipeline-target-month">Month of '.$month_name.'</p>';
            $nodata_element = <<<HTML
                <p id="pipeline-target-no-data-for-month">
                    There is currently no data for the month of {$month_name}
                </p>
                HTML;
        }
        // Determine if we don't have files for the selected month
        $have_no_files = $game_files->getRawFileLink(false) == false
                    // detectors link wasn't included in original logic, need to determine if that was a bug or if there was reason for not considering it.
                    //   && $game_files->getDetectorsLink(false) == false
                      && $game_files->getEventsFileLink(false) == false
                      && $game_files->getFeaturesLink(false) == false
                      && $game_files->getFeatureFiles(false) == false;
        $block_class = $have_no_files ? '' : $block_class;
    }

    return <<<HTML
        <section id="pipeline-target">
            <div class="pipeline-target-block {$block_class}" id="pipeline-target-none">
                <div class="d-flex">
                    <img src="assets/images/icons/pipeline-none.svg" class="me-4 mb-3">
                    <div id="pipeline-target-summary">
                        <h3>No Data</h3>
                        {$month_element}
                    </div>
                </div>
                {$nodata_element}
            </div>
            {$buttons["raw"]->renderPipelineTarget()}
            {$buttons["detectors"]->renderPipelineTarget()}
            {$buttons["events"]->renderPipelineTarget()}
            {$buttons["extractors"]->renderPipelineTarget()}
            {$buttons["features"]->renderPipelineTarget()}
        </section>
        HTML;
}

function renderTemplatesSection(?GameFileInfo $game_files)
{
    $events_class   = 'd-none';
    $players_class  = 'd-none';
    $pop_class      = 'd-none';
    $sessions_class = 'd-none';

    $events_template   = '';
    $players_template  = '';
    $pop_template      = '';
    $sessions_template = '';

    if (isset($game_files)) {

        $events_template   = $game_files->getEventsTemplateLink();
        $players_template  = $game_files->getPlayersTemplateLink();
        $pop_template      = $game_files->getPopulationTemplateLink();
        $sessions_template = $game_files->getSessionsTemplateLink();

        $events_class   = $events_template   ? '' : $events_class;
        $players_class  = $players_template  ? '' : $players_class;
        $pop_class      = $pop_template      ? '' : $pop_class;
        $sessions_class = $sessions_template ? '' : $sessions_class;
    }

    return <<<HTML
        <section id="templates" class="mb-5">
            <!-- Templates -->
            <h3>Templates</h3>
            <p>These samples link out to a github codespace and are useful for exploration and visualization. They are also effective starting spots for your own experiments.</p>

            <div class="btn-group-vertical">
                <a id="events-data"     class="btn btn-secondary btn-outline-secondary mb-2 {$events_class}"   href="{$events_template}">Events Template</a>
                <a id="players-data"    class="btn btn-secondary btn-outline-secondary mb-2 {$players_class}"  href="{$players_template}">Player Features Template</a>
                <a id="population-data" class="btn btn-secondary btn-outline-secondary mb-2 {$pop_class}"      href="{$pop_template}">Population Features Template</a>
                <a id="sessions-data"   class="btn btn-secondary btn-outline-secondary mb-2 {$sessions_class}" href="{$sessions_template}">Session Features Template</a>
            </div>

        </section>'
        HTML;
}
